---
controller_inventories:
  - name: "AWS"
    description: !unsafe ''
    organization: "Ansible Product Demos (APD)"
    prevent_instance_group_fallback: False
  - name: "Demo Inventory"
    description: !unsafe ''
    organization: "Default"
    prevent_instance_group_fallback: False
...
