---
controller_credentials:
  - name: "AAP Credential"
    description: !unsafe 'AAP credential for applying configuration as code'
    credential_type: "Red Hat Ansible Automation Platform"
    organization: "Ansible Product Demos (APD)"
    inputs:
      host: "{{ aap_fqdn }}"
      password: "{{ aap_password }}"
      username: "{{ aap_user }}"
      verify_ssl: true
#  - name: "Ansible Galaxy"
#    description: !unsafe ''
#    credential_type: "Ansible Galaxy/Automation Hub API Token"
#    organization: "ORGANIZATIONLESS"
#    inputs:
#      url: https://galaxy.ansible.com/
...
