---
controller_inventory_sources:
  - name: "AWS Source"
    description: !unsafe ''
    organization: "Ansible Product Demos (APD)"
    source: "ec2"
    limit: ""
    source_path: ""
    inventory: "AWS"
    update_on_launch: "False"
    overwrite: "False"
    credential: "AWS Secret"
